<html>
    <head>
    <title>Bigboard Alternate Visualizations</title>
    <meta http-equiv="content-type" content="text/html;charset=utf8"/>
    <script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <style type="text/css">
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    display: inline;
}

div#viz {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

select {
    position: relative;
    z-index: 10;
}

g.timeline path {
    stroke-width: 1px;
    fill: none;
}

path.rep {
    stroke: #ff0000;
}
path.dem {
    stroke: #0000ff;
}
    </style>
    </head>
    <body>
        <h1>Bigboard Alternate Visualizations</h1>
        <select id="state1"></select> vs. <select id="state2"></select>
        <div id="viz"></div>
        <script type="text/javascript">
var x,y,
    h = document.body.clientHeight,
    w = document.body.clientWidth,
    margin = {top: 60, right: 25, bottom: 25, left: 25},
    width = w - margin.left - margin.right,
    height = h - margin.top - margin.bottom,
    data = [],
    viz = d3.select('#viz')
        .append('svg')
        .attr('width', w)
        .attr('height', h);

var line = d3.svg.line()
    .interpolate('basis')
    .x(function(d,i) { 
        return x(i); 
    })
    .y(function(d,i) { 
        return y(d); 
    });


function load() {
    d3.json('bystate/', function(json) {
        var nslices = json.AK.REP.length,
            states = $('#state1, #state2');

        $('select').change(function(){
            var stidx = [
                +$('#state1').val(),
                +$('#state2').val()
            ];
            d3.select('rect, path').remove();
            showTimeline(stidx);
        });

        for (var s in json) {
            var o = {};
            o[s] = json[s];
            data.push(o);
            states.append($('<option/>').val(data.length-1).text(s));
        }

        showTimeline([0,1], nslices);
    });
};

// get the first key out of d
function getState(d) {
    for (var s in d) {
        d[s].state = s;
        return d[s];
    }
};

function trimEnds() {
    var begin = 2000,
        end = 0,
        trimmed = [];
   
    for (var h = 0; h < arguments.length; h++) {
        var st = getState(arguments[h]),
            types = ['REP','DEM'];
        for (var i in types) {
            var stp = st[types[i]],
                mn = stp[0],
                mx = stp[stp.length-1],
                mybegin = 0,
                myend = stp.length;

            for (var j = 0; j < stp.length; j++) {
                if (stp[j] == mn) mybegin = j;
                else break;
            }

            for (var j = stp.length-1; j >= 0; j--) {
                if (stp[j] == mx) myend = j;
                else break;
            }

            if (mybegin < begin) begin = mybegin;
            if (myend > end) end = myend;
        }
    }

    for (var h = 0; h < arguments.length; h++) {
        var st = getState(arguments[h]),
            types = ['REP','DEM'],
            trim = {};

        trim[st.state] = {};

        for (var i in types) {
            var stp = st[types[i]];
            trim[st.state][types[i]] = stp.slice(begin,end);
        }
        trimmed.push(trim);
    }

    return trimmed;
};

function showTimeline(stidx, nslices) {
    $('#state1').val(stidx[0]);
    $('#state2').val(stidx[1]);

    viz.select('g.timeline').remove();

    var g = viz.append('g')
            .attr('class', 'timeline')
            .attr('transform', 'translate('+margin.left+','+margin.top+')'),
        mydata = trimEnds(data[stidx[0]], data[stidx[1]]),
        node = g.selectAll('g.state')
            .data(mydata)
            .enter()
            .append('g')
            .attr('class', 'state');

    x = d3.scale.linear()
        .domain([0, getState(mydata[0]).REP.length])
        .range([0, width]);

    y = d3.scale.linear()
        .range([height/stidx.length-1,1])
        .domain([0,d3.max(mydata, function(d){
            var s = getState(d);
            return d3.max([d3.max(s.REP), d3.max(s.DEM)]);
        })]);

    node.each(function(d,i) {
        var e = d3.select(this);
        e.append('rect')
            .attr('transform', function(){ 
                return 'translate(0,'+(height*i/stidx.length)+')'; 
            })
            .attr('width', width)
            .attr('height', height/stidx.length)
            .style('stroke', 'rgb(204,204,204)')
            .style('stroke-width', 1)
            .style('fill', 'rgb(255,255,255)');

        e.append('path')
            .attr('class', 'dem')
            .attr('transform', function(){ 
                return 'translate(0,'+(height*i/stidx.length)+')'; 
            });

        e.append('path')
            .attr('class', 'rep')
            .attr('transform', function(){ 
                return 'translate(0,'+(height*i/stidx.length)+')'; 
            });

        function draw(n) {
            e.select('path.dem')
                .attr('d', function(d) { 
                    var s = getState(d);
                    return line(s.DEM.slice(0,n)); 
                });

            e.select('path.rep')
                .attr('d', function(d) { 
                    var s = getState(d);
                    return line(s.REP.slice(0,n)); 
                });
        };

        var n = 1;
        d3.timer(function(){
            draw(n);
            n += 2;
            return (n >= nslices);
        });
    });
};

load();
        
        </script>
    </body>
</html>
